cloud_id = "b1ghqosp1fe5jmi62lk7"
folder_id = "b1gdd8e654smrbauj04n"
zone = "ru-central1-a"
image_id = "fd8e8r17c9n2f7h6gef4"
token = "y0_AgAAAAB0M1acAATuwQAAAAD8zrsnAAB8grfyh7hEJJ6P1vVcqqrMlP2M9A"
public_key_path = "~/.ssh/appuser"
